modules = ["python-3.11", "nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "cd portfolio_backend && python manage.py runserver 0.0.0.0:5000"]
build = ["sh", "-c", "cd portfolio_frontend && npm run build"]

[workflows]
runButton = "Start Development"

[[workflows.workflow]]
name = "Run Tests"
author = 44436856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_frontend && npm run lint"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_backend && python manage.py test"

[[workflows.workflow]]
name = "Start Development"
author = 44436856
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_backend && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_frontend && npm run dev -- --host 0.0.0.0 --port 3000"

[[workflows.workflow]]
name = "Build Production"
author = 44436856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_frontend && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_backend && python manage.py collectstatic --noinput"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd portfolio_backend && python manage.py migrate"
